{% extends 'appblog/base.html' %}
        
{%block principal%}

<h1>Editar Perfil</h1>
<h1>De {{usuario}}</h1>

<div class="container text-center">
    {% if errors %}
        {% for error in errors %}
            <p style="color:#0464f5fa">{{error}}</p>
            
        {% endfor %}
        
    {% endif %}
    
    
    <form method="post">
        {% csrf_token %}

        <table>
        {{form.as_table}}
        </table>
        
        
        
        <input type="submit" value="Actualizar" class="btn-primary">
    </form>

</div>



{%endblock%}