
{% extends 'appblog/base.html' %}
        
{%block principal%}  

    
        
{% if request.user.is_superuser %}
    {% if imagen_url is None %}
    <a href="{% url 'cargarimagen' %}">cargar avatar</a>
    
    

    {%else%}
    <div class="container">
        <img src="{{ imagen_url }}" alt="imagen" width="10%">

    </div>
   
    <a href="{% url 'cargarimagen' %}">editar avatar</a>   
        
    {%endif%}    

        
        
        
{%endif%}
   


        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{% url 'create' %}">
                            <h2 class="post-title">Comienza a crear</h2>
                            <h3 class="post-subtitle">Post</h3>
                        </a>
                        
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{% url 'Editarusuario' %}"><h2 class="post-title">Tus datos</h2></a>
                        <p class="post-meta">
                            puedes 
                            <a href="{% url 'Editarusuario' %}">editarlos</a>
                            
                        </p>
                    </div>
                    
                    
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{% url 'sobremi' %}">
                            <h2 class="post-title">Algo sobre el blog</h2>
                            <h3 class="post-subtitle">y sobremi</h3>
                        </a>
                        
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <div class="post-preview">
                        <a href="{% url 'mensaje_lista' %}"><h2 class="post-title">mensajeria para usuarios</h2></a>
                        <p class="post-meta">
                            y
                            <a href="{% url 'mensaje_lista' %}">contactanos</a>
                            
                        </p>
                    </div>
                     
                    <hr class="my-4" />
                    
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'post_lista' %}">Ver Posts →</a></div>
                    
                    <hr class="my-4" />
                    <!-- Post preview-->
                    
                
                
                
                
                </div>
            </div>
        </div>
{%endblock%}  