{% extends 'appblog/base.html' %}
        
{%block principal%}  


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESETAS</title>
</head>
<body>
    <form action="/reseta/" method="POST"> 
        {% csrf_token %}

        <table>
        {{ reseton.as_table }}    



        </table>
        <input type="submit" value="crear reseta">





    </form>
    <div class="container mt-5">
        <table class="table">
    
            <thead>
                <tr>
                    <th class="table-success">Nombre</th>
                    <th class="table-success">queso</th>
                    <th class="table-success">condimetos</th>
                    <th class="table-success">Relleno</th>
                    <th class="table-success">Salsa</th>
                    <th class="table-success">Carne</th>
                    
                </tr>
            </thead>
    
            <tbody>
                {% for elemento in tabla %}
                    <tr>
                    <td>{{elemento.nombre}}</td>
                    <td>{{elemento.queso}}</td>
                    <td>{{elemento.condimentos}}</td>
                    <td>{{elemento.relleno}}</td>
                    <td>{{elemento.salsa}}</td>
                    <td>{{elemento.carne}}</td>
                    </tr>
                {% endfor %}
            </tbody>
    
    
        </table>
    </div>

</body>
</html>

{%endblock%} 