{% extends 'appblog/base.html' %}
        
{%block principal%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sobremi</title>
</head>
<body>
    <div class="container mt-5 text-center">
        <h1 style="color:#1b4479">algo sobre mi y el proyecto</h1>
        <p>

            <h5>Hola, mi nombre es Nicolás Marín Viegas
            este fue mi primer acercamiento en asuntos relacionados a programación, diseño y contenido web
            no fue tan fácil como esperaba pero tampoco imposible con la dedicación necesaria. 
            Una experiencia muy interesante, frustrante en ocasiones
            pero sin lugar a dudas algo en lo que voy a continuar.</h5>
        </p>
        <hr>
        <hr class="my-4" />
       
        El proyecto es básicamente un blog
        tiene un diseño base que descargue de internet, varias herencias y componentes para las diferentes funciones
        como la edición de usuarios, creación y edición de avatares
        crear post con editor de texto avanzado (consta de titulo, subtitulo, cuerpo, fecha y autor)
        y un listado de esos post con funciones como eliminar, ver al detalle y edición del mismo. 
        No tenía muy en claro de que trataba un blog pero trate de que sea lo más intuitivo posible y funciones claras.
        Eso es todo, espero les resulte funcional, saludos…

        <hr>
        <hr class="my-4" />
        
    </div>           
    
</body>
</html>
{%endblock%}