
{% extends 'appblog/base.html' %}
        
{%block principal%} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Editando post</title>
</head>
<body>
    <form action="/appblog/update_post/{{titulo_id}}/" method="POST"> 
        {% csrf_token %}

        <table>
        {{ formulario.as_table }}    
        </table>  
        
        <input type="submit" value="editar">


    </form>
    
</body>
</html>
{%endblock%} 