{% extends 'appblog/base.html' %}
        
{%block principal%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container mt-5 text-center">
        
        
        <p>de: <h1>{{mensajeria.emisor}}</h1>  </p>
        <p>asunto: <h3 >{{mensajeria.asunto}}</h3></p>
        <p>fecha: <i>{{mensajeria.fecha}}</i></p>

        <p> 
            <a href="{% url 'mensaje_lista' %}">Regresar</a>
        </p>
    </div>    

    
</body>
</html>
{%endblock%}