{% extends 'appblog/base.html' %}
        
{%block principal%} 


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lista post</title>
</head>
<body>
    <a href="{% url 'create' %}">
        <h2 class="post-title">Comienza a crear</h2>
        
    </a>
   
 
 
 
    <div class="container mt-5">
        <table class="table">
    
            <thead>
                <tr>
                    <th class="table-success">Titulo</th>
                    <th class="table-success">Subtitulo</th>
                    <th class="table-success">Autor</th>
                   
                    
                </tr>
            </thead>
    
            <tbody>
                <h1 class="text-center mt-4">Post </h1>
               <ul>
                   {% for post in object_list %}
                        {% if post.autor == request.user.username %}
                       <tr>

                           <td>{{post.titulo}}</td>
                           <td>{{post.subtitulo}}</td>
                           <td>{{post.autor}}</td>
                        
                        
                            <td>
                               <a href="{% url 'detalle' post.id %}">Detalle</a>
                               <a href="{% url 'editar' post.id %}">Editar</a>
                               <a href="{% url 'borrar' post.id %}">Borrar</a>
                            </td>   
                    
                        </tr>
                        {%endif%}
                    {% endfor %}           
               </ul>               


            </tbody>
    
    
        </table>
    </div>
                
                    
         
    

   
</body>
</html>
{%endblock%} 