{% extends 'appblog/base.html' %}
        
{%block principal%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Post</title>
</head>
<body>

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <input type="submit" value="Cargar/Actualizar">
    </form>

    <div class="container mt-5">
        <table class="table">
    
            <thead>
                <tr>
                    <th class="table-success">Titulo</th>
                    <th class="table-success">Autor</th>
                   
                    
                </tr>
            </thead>
    
            <tbody>
                {% for elemento in lista %}
                    <tr>
                    <td>{{elemento.titulo}}</td>
                    <td>{{elemento.autor}}</td>
                    
                    </tr>
                {% endfor %}
            </tbody>
    
    
        </table>
    </div>

</body>
</html>
{%endblock%} 

